node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# Ignore Visual Studio folder
.vs/
node_modules/
# Ignore server object files

SWD392.Server/bin/
/BusinessObject/obj
/DAL/obj
/Repository/obj
/Service/obj
/Ielts_System/obj
/Ielts_System/bin
/BusinessObject/bin
/DAL/bin
/Repository/bin
/Service/bin
DAL/Migrations/20250620050600_FixApplication.cs
/Ielts-System/BusinessObject/obj
/Ielts-System/BusinessObject/bin
/Ielts-System/DAL/bin
/Ielts-System/DAL/obj
/Ielts-System/BusinessObject/bin
/Ielts-System/DAL/obj
/Ielts-System/BusinessObject/obj
/Ielts-System/Service/obj
/Ielts-System/Repository/obj
/Ielts-System/Ielts_System/obj
/Ielts-System/DAL/obj
/Ielts-System/Service/obj
/Ielts-System/BusinessObject/obj
/Ielts-System/Ielts_System/bin
/Ielts-System/Service/bin
/Ielts-System/DAL/obj
/Ielts-System/Repository/bin
